<mat-card class="mat-elevation-z5" *ngIf="(selectedStagedPlay$ | async) as selectedStagedPlay">
  <mat-card-content>
    <aside>
      <img [src]="selectedStagedPlay.imageUrl" alt="some logo">
    </aside>
    <main>
      <div>
        <h3>Name: </h3>
        <h2>{{selectedStagedPlay.name}}</h2>
      </div>
      <div>
        <h3>Actors: </h3>
        <h2 actors *ngFor="let actor of selectedStagedPlay.actors">{{actor}}</h2>
      </div>
      <div>
        <h3>Description: </h3>
        <p>{{selectedStagedPlay.description}}</p>
      </div>
    </main>
  </mat-card-content>
</mat-card>
