:host {
  mat-toolbar {
    display: flex;
    justify-content: space-between;

    h1 {
      font-family: 'Permanent Marker';
    }

    a {
      display: flex;

      img {
        border-radius: 50%;
        padding: 15px;
      }
    }
  }
}
