@use '../../styles/mixins.scss' as mixins;

:host {
  height: 90vh;
  @include mixins.flex-all-center;

  mat-card {
    width: 50%;

    form {
      display: flex;
      flex-direction: column;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
