@use '~@angular/material' as mat;

@use './theme/light-theme.definition.scss' as light;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  @include mat.all-component-themes(light.$green-theme);
  background: light.$green-background;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
