@use '../../../../styles/mixins.scss' as mixins;
@import "src/styles/layout-breackpoints.scss";

:host {
  @include mixins.flex-all-center;

  height: 80vh;

  mat-card {
    width: 50%;

    form {
      display: flex;
      flex-direction: column;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }

    @include layout-bp(sm) {
      width: 70%;
    }

    @include layout-bp(xs) {
      width: 70%;
    }
  }
}
